@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@600&family=Raleway&family=Roboto&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-color: white; */
  /* font-family: 'Cabin', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
}
